# editorconfig.org
# https://editorconfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8

# Unix-style newlines with a newline ending every file
end_of_line = lf
insert_final_newline = true

# indentation
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# Markdown syntax specifies that trailing whitespaces can be meaningful,
# so let’s not trim those. e.g. 2 trailing spaces = linebreak (<br />)
# See https://daringfireball.net/projects/markdown/syntax#p
[*.md]
trim_trailing_whitespace = false

[*.bat]
charset = shift_jis
end_of_line = crlf
